@media only screen and (min-width: 0) and (max-width: 1280px) {
	#nav {max-width:1024px; }
	.quicklinks {max-width:1024px; }
	.header {max-width:1024px; }
	.main {max-width:1024px; }
	.footer {max-width:1024px; }

}

@media only screen and (min-width: 0) and (max-width: 1024px) {
	#nav {max-width:none; margin:0 2%; width:96% ; padding: 5px 0;}
	.quicklinks {max-width:none; margin:0 2%; width:96% ;}
	.header {max-width:none; margin:0 2%; width:96% ;}
	.main {max-width:none; margin:0 2%; width:96% ;}
	.footer {max-width:none; margin:0 2%; width:96% ;}
}

@media only screen and (min-width: 0) and (max-width: 900px) {

}

@media only screen and (min-width: 0) and (max-width: 800px) {
  	.col-left {width: 100%; float:left; margin-bottom: 15px;}
  	.col-right {width: 100%; float:left; margin-bottom: 15px;}
  	.col-main {width: 100%; float: left; margin-bottom: 15px;}
  	.col3-layout .col-main {width:100%; margin: 0;}
}

@media only screen and (min-width: 0) and (max-width: 768px) {

}

@media only screen and (min-width: 0) and (max-width: 640px) {
	.col2-set .col-2{ float:left; width:100%; }
	.col2-set .col-1{ float:left; width:100%; }
}

@media only screen and (min-width: 0) and (max-width: 600px) {

}

@media only screen and (min-width: 0) and (max-width: 480px) {

}

@media only screen and (min-width: 0) and (max-width: 360px) {

}

@media only screen and (min-width: 0) and (max-width: 320px) {

}